*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightseagreen;
}


.container{
    border: 2px solid black; 

    width: 90%;
    margin: auto;
    display: flex;
}


.groceries{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: white;
    box-shadow: 12px 12px 26px 0 rgba(0, 0, 0, 0.5);
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

.groceries i{
    font-size: 2rem;
    color: lightseagreen;
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 4px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allitems h2{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 2rem;
}